.addDayForm,
.dayInput,
.sleepInput,
.mealInput,
.exerciseInput,
.notesInput {
  flex-direction: column;
}

.buttonSave {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.buttonSave button {
  font-size: 17px;
  font-weight: bold;
  border: none;
}

.buttonSave button:hover {
  cursor: pointer;
}

.buttonSave div {
  display: flex;
  height: 40px;
  margin-bottom: 60px;
}

.buttonSave div>img {
  height: 50px;
  padding-bottom: 10px;
}

.buttonSave p {
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.inline {
  display: flex;
  margin-top: 10px;
}

.addDay {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #E2C26D;
  width: 500px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  border: 5px solid black;
}

.inline label {
  flex-basis: 50%;
  font-size: larger;
  font-weight: bold;
}

.inline input {
  flex-basis: 100%; 
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}