.addDayForm,
.dayInput,
.sleepInput,
.mealInput,
.exerciseInput,
.notesInput {
  flex-direction: column;
}

.buttonSave {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonSave button:hover {
  cursor: pointer;
}


.buttonAdd {
  display: flex;
  align-items: center;
  background-color: #E2C26D;
  font-family: 'Permanent Marker', cursive;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding-left: 20px;
  padding-right: 20px;
}

.buttonAdd:hover {
  text-decoration: underline;
}

.buttonAdd p {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  padding-left: 15px;
}

.inline {
  display: flex;
  margin-top: 10px;
}

.addDay {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #E2C26D;
  width: 500px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  border: 5px solid black;
}

.inline label {
  flex-basis: 50%;
  font-size: larger;
}

.inline input {
  flex-basis: 100%; 
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}