.forwardBack {
  background-size: cover;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  font-size: 50px;
}

.forwardBack:hover {
  cursor: pointer;
}

.pickDayContainer {
  display: flex;
  justify-content: center;
}

.pickDay {
  background-color: #E2C26D;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 175px;
  width: 250px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
}

