.forwardBack {
  background-size: cover;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  font-size: 30px;
}

.forwardBack:hover {
  cursor: pointer;
}

body {
  background-image: url(../../src/assets/imgs/corkboard.jpg);
}