.formHeadings {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center; 
  width: 90%;
  border-bottom: 2px solid #000000;
}

.buttonEdit {
  position: absolute;
  right: 10px;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
}

.buttonSave {
  position: absolute;
  right: 10px;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
}

.sleepContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  position: relative;
}

.sleepContainer p,
.sleepContainer input {
  flex-basis: 70%; 
}