.dayContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: black;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
  height: 250px;
  width: 250px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}