.quoteContainer {
  background-image: url(../../assets/imgs/quoteplate.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100%;
  max-width: 800px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  z-index: 0;
  font-family: 'Bentham', serif;
  font-size: 20px;
  margin-top: 55px;
}

.quoteText {
  position: absolute;
  z-index: 1;
  width: 30%;
  height: auto;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .quoteText {
    overflow: visible;
    white-space: normal;
    text-overflow: clip;
  }
}

@media screen and (max-width: 600px) {
  .quoteText {
    width: 30%;
  }
}
@media screen and (min-width: 425px) {
  .quoteText {
    width: 60%;
  }
}

@media screen and (max-width: 375px) {
  .quoteText {
    width: 80%;
  }
}