.quoteContainer {
  background-image: url(../../assets/imgs/quoteplate.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; /* Center the background image */
  width: 100%;
  max-width: 800px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Added positioning */
  margin: 0 auto; /* Center the container horizontally */
  z-index: 0;
}

.quoteText {
  position: absolute;
  z-index: 1;
  width: 30%; /* Adjust the width as needed */
  height: auto; /* Allow the height to adjust based on content */
  text-align: center; /* Center the text horizontally */
}


@media screen and (min-width: 1000px) {
  .quoteText {
    overflow: visible; /* Show the full content without ellipsis */
    white-space: normal; /* Allow line wrapping */
    text-overflow: clip; /* Disable the ellipsis */
  }
}

@media screen and (max-width: 600px) {
  .quoteText {
    width: 30%;
  }
}
@media screen and (min-width: 425px) {
  .quoteText {
    width: 60%;
  }
}

@media screen and (max-width: 375px) {
  .quoteText {
    width: 80%;
  }
}