*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #c0c0c0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.all-days {
  text-align: center;
  color: black;
}

a,
a:visited {
  color: #000000;
  font-size: larger;
}

.user-info{
  position: relative;
  left: 25px;
  color: black;
  font-weight: bold;
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  position: relative;
}

.green {
  background-color: green;
}

.lightgreen {
  background-color: lightgreen;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}


.nav-right {
  display: flex;
  position: absolute;
  right: 45px;
}

.nav-right p {
  margin: 0 1rem;
}

.dropdown {
  position: relative;
  width: 30px;
  height: 30px;
  background: transparent no-repeat center/cover;
  border: none;
  right: 10px;
}

.dropdown-button {
  justify-content: center;  
  width: 40px;
  height: 30px;
  background: transparent no-repeat center/cover;
  border: none;
}

.dropdown-button img {
  width: 100%;
  height: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: none;
  min-width: 200px;
  text-align: right;
}

.dropdown-content p {
  padding: 12px 16px;
  display: block;
}

.dropdown-content p:hover {
  background-color: #e6e6e6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.daylist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  column-gap: 20px;
  row-gap: 20px;
  width: auto;
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
}


.day-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: black;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.add-day-form {
  display: flex;
  flex-direction: column;
}

.day-input {
  display: flex;
  flex-direction: column;
}

.sleep-input {
  display: flex;
  flex-direction: column;
}

.meal-input {
  display: flex;
  flex-direction: column;
}

.exercise-input {
  display: flex;
  flex-direction: column;
}

.notes-input {
  display: flex;
  flex-direction: column;
}

.details-container {
  display: grid;
  justify-items: center;
  align-items: center;
  max-width: 600px;
  border: 5px solid black;
  background-color: white;
  margin: 0 auto;
  color: black;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.quote-container {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: black;
  padding-top: 50px;
}

.dropdown-container{
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.day-info {
  display: flex; 
  flex-direction: column;
  text-align: center;
  width: 90%;
}

.date-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50px;
}

.button-edit {
  position: absolute;
  right: 10px;
  width: 25px;
  height: 25px;
  background-image: url('../src/assets/Icons/edit.png');
  background-size: cover;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
}

.button-save {
  position: absolute;
  right: 10px;
  width: 25px;
  height: 25px;
  background-image: url('../src/assets/Icons/save.png');
  background-size: cover;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
}

.button-delete {
  align-content: center;
  width: 35px;
  height: 45px;
  background-image: url('../src/assets/Icons/delete.png');
  background-size: cover;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
}

.form-headings {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center; 
  width: 90%;
  border-bottom: 2px solid #000000;
}

.sleep-info {
  display: flex; 
  flex-direction: column;
  text-align: center;
  width: 90%;
}

.sleep-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  position: relative;
}

.sleep-container p,
.sleep-container input {
  flex-basis: 70%; 
}

.meal-container {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}

.meal-container label {
  flex-basis: 20%; 
}

.meal-container textarea, 
.meal-container p {
  flex-basis: 70%; 
}

.rating-input-details{
  width: auto;
}

.date-input-1{
  width: auto;
}

.notes-input {
  padding-top: 10px;
  width: 85%;
  height: 80px;
}