*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

  margin: 0;
  min-height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #c0c0c0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.all-days{
  text-align: center;
  color: black;
}

a,
a:visited {
  color: #000000;
  font-size: larger;
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-left,
.nav-right {
  display: flex;
  justify-content: flex-end;
}

.nav-left p,
.nav-right p {
  margin: 0 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content p {
  padding: 12px 16px;
  display: block;
}

.dropdown-content p:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  column-gap: 20px;
}

.day-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: black;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.add-day-form {
  display: flex;
  flex-direction: column;
}

.day-input {
  display: flex;
  flex-direction: column;
}

.sleep-input {
  display: flex;
  flex-direction: column;
}

.meal-input {
  display: flex;
  flex-direction: column;
}

.exercise-input {
  display: flex;
  flex-direction: column;
}

.notes-input {
  display: flex;
  flex-direction: column;
}

.details-container {
  display: grid;
  justify-items: center;
  align-items: center;
  max-width: 800px;
  border: 5px solid black;
  background-color: white;
  margin: 0 auto;
  color: black;
}