*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

  margin: 0;
  min-height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a,
a:visited {
  color: #00d8ff
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
}

/* <div className="container">
          <div className="day-container"> */

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  column-gap: 20px;
}

.day-container{
  display: flex;
  flex-direction: column;
  border: 5px solid #00d8ff;
  padding: 30px;
  background-color: blueviolet;
}

.add-day-form {
  display: flex;
  flex-direction: column;
}

.day-input {
  display: flex;
  flex-direction: column;
}

.sleep-input {
  display: flex;
  flex-direction: column;
}

.meal-input {
  display: flex;
  flex-direction: column;
}

.exercise-input {
  display: flex;
  flex-direction: column;
}

.notes-input {
  display: flex;
  flex-direction: column;
}

.details-container {
  display: grid;
  justify-items: center;
  align-items: center;
  max-width: 800px;
  border: 5px solid black;
  background-color: white;
  margin: 0 auto;
  color: black;
}